<div class="card">
<mat-card>
    <h2 style="color:blueviolet;">LOGIN</h2>
    <form (submit)="onLogin(passdata)" #passdata="ngForm">
      <mat-form-field appearance="outline">
      <mat-label>email</mat-label>
        <input matInput ngModel type="email" name="email" placeholder="JohnDoe@live.com" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
      <mat-label>password</mat-label>
      <input matInput ngModel name="password" type="password" required>
      </mat-form-field>


      <button
      mat-raised-button
      color = "accent"
      type="submit">Login</button>

      <p>Dont have an account? SignUp  </p>
    </form>
  </mat-card>
</div>
