.card{
  border:1px dotted black;
  margin: 100px 475px;
  width: 500px;
  text-align: center;
}

mat-form-field{
  width: 80%;
}
button{
  width: 40%;
}

input[type = "file"]
{
  visibility: hidden;
}

.Addfile
{
  display: block;
}

.image-preview
{
  height: 5rem;
  margin: 1 rem 0;
}

.image-preview img
{
  height: 100%;
}
